@font-face {
    font-family: 'Minecraft';
    src: url('assets/fuente.ttf') format('truetype'); /* Ruta relativa a tu archivo CSS */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('assets/background.jpg');
    background-size: 96px; 
    background-repeat: repeat;
    background-attachment: fixed; 
    font-family: 'Minecraft', Arial, sans-serif; /* Fallback a Arial o cualquier otra fuente sans-serif */    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    flex: 1; 
    text-align: center;
}

.container img {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}

.options {
    margin-top: 20px; /* Ajusta la separación entre la imagen y los botones */
}

.formulario {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado uniforme entre los elementos dentro de .formulario */
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-row label {
    flex: 1;
    margin-right: 10px; /* Ajusta el espaciado entre el label y el select */
}

.form-row select {
    flex: 2;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.minecraft-input, .minecraft-select, .minecraft-button {
    display: inline-block;
    width: 180px;
    padding: 10px 20px;
    background-color: #7f7f7f;
    border: 2px solid #333333;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Minecraft', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.minecraft-button:hover {
    background-color: #8f8f8f;
    border-color: #444444;
}

.minecraft-button:active {
    background-color: #6f6f6f;
    border-color: #222222;
}

.minecraft-button a {
    color: inherit;
    text-decoration: none;
}

.signup-form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    max-width: 400px; /* Establece el ancho máximo del formulario */
    margin: auto; /* Centra el formulario en la página */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado uniforme entre los elementos dentro del formulario */
}

.signup-form h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.signup-form button[type="submit"] {
    width: calc(100% - 40px);
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    background-color: #7f7f7f;
    color: #ffffff;
    font-family: 'Minecraft', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.signup-form button[type="submit"]:hover {
    background-color: #8f8f8f;
}

.signup-form button[type="submit"]:active {
    background-color: #6f6f6f;
}

/* Estilos para el botón de volver a la página de inicio */
.back-to-home {
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.back-to-home:hover {
    text-decoration: underline;
}
